@use '@/assets/sass/dna/variables' as *;
@use '@/assets/sass/dna/functions' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xxs);
  width: 100%;

  &__logo {

    h1 {
      font-weight: 700;
      line-height: 1;
    }

    text-decoration: none;
    color: inherit;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }


  &__title {
    background: #f8f9f8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // text-shadow: 1px 1px 3px #fffc, -2px -2px 1px #0000001a;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8), -2px -2px 1px #2d84021a;

  }
}