@use 'sass:math';

$default-min-bp: 32rem;
$default-max-bp: 192rem;

@function fluid($min-size,
  $max-size,
  $min-breakpoint: $default-min-bp,
  $max-breakpoint: $default-max-bp,
  $unit: vw) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: $slope * 100;
  $intercept: $min-size - $slope * $min-breakpoint;

  @return clamp(#{$min-size},
    #{$slope-to-unit}#{$unit} + #{$intercept},
    #{$max-size});
}

@function rem($size) {
  @if unit($size)=='px' {
    @return math.div($size, 16px) * 1rem;
  }

  @return $size;
}